* {
margin: 0;
padding: 0;
}

body{
    font-family: sans-serif;
    color: white;
}

.main {
    height: 785px;
    background: url('../img/capa.jpg') center;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.main h1 {
    font-size: 64px;
    max-width: 510px;
    text-align: center;
}